:root{
	--main:#EA7931;
	--accent:#BB5513;
}

a{
	color:var(--main);
}

input[type=submit] {
    background-color: var(--main);
}

input[type=submit]:hover {
    background-color: var(--accent);
}

.tabs-menu a:hover{
	color:var(--main);
}

.tabs-active{
	background-color:var(--main);
}

#q-graph .sent {
  background-color: var(--accent);
}
#q-graph .paid {
  background-color: var(--main);
}