:root{
	--font-body:'Nunito', Sans Serif;
	--font-headings:'Nunito', Sans Serif;
	--dark_blue:#58b;
	--light_gray:#bbb;
	--side_menu_width:200px;
}

a{
	font-family:var(font-headings);
}

body{
	background-color: #f5f5f5;
	font-family:var(--font-body);
}

h1, h2, h3, h4, h5{
	font-family:var(--font-headings);
}

#login{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

#login input[type=text], [type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px 80px 0;
    display: inline-block;
	border:none;
	border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

#entry{
	margin:auto;
	display:inline;
}

#entry label,input{
	margin:10px;
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.home-table{
	width:90%;
	margin:auto;
	padding: 20px;
	border-spacing: 30px;
}

.home-table td{
	padding: 10px;
}

#home-content{
	vertical-align: top;
	overflow-y:scroll;
	max-height: 460px;
}

#empanelment, #PCP{
	width:200px;
	height: 200px;
	background-color: #f5f5f5;
	text-align: center;
}

#empanelment:hover, #PCP:hover{
	background-color: var(--main);
}

.side_menu{
	height:100%;
	width:var(--side_menu_width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    top: 50px;
}

.side_menu a{
	text-decoration:none;
	background-color: white;
	width:60%;
	padding:10px;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid #ccc;
}

.side_menu a:hover{
	box-shadow: 3px 10px 28px #c0c0c0;
}

.side_menu ul li{
	list-style-type:none;
	
}

.inactive{
	list-style-type: circle;
}


.left-side-menu:hover{
	cursor: pointer;
}

.left-side-menu{
	float:right;
	height:30px;
}

.content{
	margin-left:var(--side_menu_width);
	padding-left:20px;
	width:80%;
	
}

#hamburger{
	cursor:pointer;
}

#patient-info-header{
	width:100%;
}

.patient-info{
	width:80%;
	margin-left:100px;
	background:white;
	border-radius:10px;
	padding:5px;
}

.patient-info td div{
	height:100%;
	
}

.patient-info th{
	border-bottom:solid 1px #555;
}

.patient-info tr{
	vertical-align:top;
}
	


.floating-box{
	min-width:200px;
	min-height:150px;
	background-color: white;
	padding:15px;
	display: inline-block;
	margin: 30px 30px 30px 30px;
	border-radius: 5px;
	overflow:hidden;
}

.floating-box:hover{
	box-shadow: 3px 10px 28px #c0c0c0;
}

.tabs-menu{
	margin:auto;
}

.tabs-inner{
	border-radius: 5px;
	background-color:white;
	border: 1px solid var(--light_gray);
	width:80%;
	margin:auto;
}

.tabs-menu td{
	border: 1px solid var(--light_gray);
	margin:0;
}

.tabs-menu a{
	text-decoration:none;
	color:black;
	padding:10px;
}

.tabs-active td a:hover{
	color:white;
}

.button{
	display: inline-block;
	margin:auto;
	padding: 14px 20px 14px 20px;
	border-radius: 20px;
	color: white;
	text-decoration: none;
}

#q-graph-wrapper{
	padding: 100px;
	margin:auto;
}

#q-graph {
  display: block; /* fixes layout wonkiness in FF1.5 */
  position: relative; 
  width: 600px; 
  height: 300px;
  margin: 1.1em 0 0;
  padding: 0;
  background: transparent;
  font-size: 11px;
}

#q-graph caption {
  caption-side: top; 
  width: 600px;
  text-transform: uppercase;
  letter-spacing: .5px;
  top: -40px;
  position: relative; 
  z-index: 10;
  font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td { 
  position: absolute;
  bottom: 0; 
  width: 150px; 
  z-index: 2;
  margin: 0; 
  padding: 0;
  text-align: center;
}

#q-graph td {
  transition: all .3s ease;
  
  &:hover {
    background-color: desaturate(#85144b, 100);
    opacity: .9;
    color: white;
  }
}
  
#q-graph thead tr {
  left: 100%; 
  top: 50%; 
  bottom: auto;
  margin: -2.5em 0 0 5em;}
#q-graph thead th {
  width: 7.5em; 
  height: auto; 
  padding: 0.5em 1em;
}
#q-graph thead th.sent {
  top: 0; 
  left: 0; 
  line-height: 2;
}
#q-graph thead th.paid {
  top: 2.75em; 
  line-height: 2;
  left: 0; 
}

#q-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  border-right: 1px dotted #C4C4C4; 
  color: #AAA;
}
#q-graph #q1 {
  left: 0;
}
#q-graph #q2 {left: 150px;}
#q-graph #q3 {left: 300px;}
#q-graph #q4 {left: 450px; border-right: none;}
#q-graph tbody th {bottom: -1.75em; vertical-align: top;
font-weight: normal; color: #333;}
#q-graph .bar {
  width: 60px; 
  border: 1px solid; 
  border-bottom: none; 
  color: #000;
}
#q-graph .bar p {
  margin: 5px 0 0; 
  padding: 0;
  opacity: .4;
}
#q-graph .sent {
  left: 13px; 
  border-color: transparent;
}
#q-graph .paid {
  left: 77px; 
  border-color: transparent;
}


#ticks {
  position: relative; 
  top: -300px; 
  left: 2px;
  width: 596px; 
  height: 300px; 
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative; 
  border-bottom: 1px dotted #C4C4C4; 
  width: 600px;
}

#ticks .tick p {
  position: absolute; 
  left: -5em; 
  top: -0.8em; 
  margin: 0 0 0 0.5em;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
